body {
    margin: auto;
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-top: 1rem;
}


.section-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1% auto;
    text-align: center;
    
}

.spotlight-wrapper {
    text-align: center;
}

#spotlight {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}


.spotlight {
    display: grid;
    grid-template-columns: 1fr;
}

.spotlight p{

    background-color:#eceeef;
}


.current-event {
    background-color:#eceeef;
}

.weather 
{
    background-color:#eceeef;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

span {
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 2rem;
    
}

.menu {
    background-color: #36454f;
}

nav {
    display: block;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

nav a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-weight: 300;
    color: #eceeef;
    text-decoration: none;
}

a:hover {
    color: gold;
}

ul li {
    display: inline-block;
}

ul li a:hover {
    color: blue;
}

a {
    text-decoration: none;
}
footer {
    color: #eceeef;
    display: grid;
    background-color: #36454f;
}