body {
    margin: auto;
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-top: 1rem;
}



.hero-wrapper {
    margin-top: -17px;
    position: relative;
    background-image: url('../images/hero-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1263px;
    height: 300px; 
}

.hero-cta {
    text-align: right;
}

.hero-cta p {
    padding-right: 150px;
    color: beige;
}

.hero-cta p a {

    color: beige;
}

.hero-wrapper h1 {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
}


.section-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1% auto;
    text-align: center;
    
}

.spotlight-wrapper {
    text-align: center;
}

#spotlight {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
}


.spotlight {
    display: grid;
    grid-template-columns: 1fr;
}

.spotlight p{

    background-color:#eceeef;
}


.current-event {
    background-color:#eceeef;
}

.weather 
{
    background-color:#eceeef;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

span {
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 2rem;
    
}

.menu {
    background-color: #36454f;
}

nav {
    display: block;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

/* .menu a {
    color: tomato;
} */

nav a {
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-weight: 300;
    color: #eceeef;
    text-decoration: none;
}


a:hover {
    color: gold;
}

ul li {
    display: inline-block;
}

ul li a:hover {
    color: blue;
}

a {
    text-decoration: none;
}
footer {
    color: #eceeef;
    display: grid;
    background-color: #36454f;
}


/*.............The Directory Page.............*/
/* For Grid View */
  
/* .directory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    margin: auto;
    width: calc(100% - 20px);
} */


.directory-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    padding: 60px;
    margin: auto;
    margin-left: -260px;
    width: calc(100% - 20px);
}

  /* For List View */
.directory-list {
    display: block;
  }
  
  /* Common Styles */
/* .directory-item {
border: 1px solid #ccc;
padding: 10px;
} */