@media screen and (min-width: 600px) {
    
    
    .grid {
        grid-template-columns: 1fr 1fr; 
    }


    .grid {
        /* align-items: center; */
        margin-left: 200px;
    }


    nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }


    #information {
        max-width: 300px;
        height: 250px;
        text-align: center;
    }

    #activity {
        max-width: 600px;
        height: 500px;
        text-align: center;
    }



    #weather-info, #visit-count, figure figcaption {
        text-align: center;
    } 

}